<br><br><br>
<div class="container text-center">
    <i class="fa fa-user-circle text-center" style="color: red;font-size: 5rem;" aria-hidden="true"></i><br>
    <h5><span class="badge badge-pill badge-primary"><i class="fa fa-camera" aria-hidden="true"></i> Elegir foto de perfil</span></h5>
    <h3 class="text-center">{{nombre}}</h3>
    <h4 class="text-center" style="color: gray;">{{correo}}</h4>
    <hr>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Nombre y Apellidos</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="nombre" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Correo</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="correo" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-lock" aria-hidden="true"></i>&nbsp; Contraseña</span>
        </div>
        <input type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Fecha de nacimiento</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <button type="button" [routerLink]="[ '/Hacer']" class="btn btn-danger btn-lg btn-block">REGISTRARSE</button>
    <br><br><br>
</div>