<br><br><br>
<div class="container">
    <h3>Tu Bici</h3>
    <h5>Elige lo que deseas consultar de tu bici</h5>
    <hr>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <img src="../../../assets/1.jpeg" class="w-100" alt="">
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico2']">Mantenimiento General</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <img src="../../../assets/2.jpeg" class="w-100" alt="">
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico2']">Cambio de Llantas</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <img src="../../../assets/3.jpeg" class="w-100" alt="">
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico2']">Reparación Sistema de Cambios</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</button>
</div>