<br><br><br>
<div class="container text-center">
    <h1 style="color: red;">Recuperar Contraseña</h1>
    <br>
    <h5>Escribe tu correo y te reenviaremos un mensaje para recuperar tu contraseña</h5>
    <img src="../../../assets/logo.jpeg" class="w-100" alt="">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Correo</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <button type="button" (click)="olvidar()" class="btn btn-danger btn-lg btn-block">ENVIAR</button>
    <br><br><br>
</div>