<br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-6">
            <br>
            <h3>Escoje tu tipo de vehiculo</h3>
        </div>
        <div class="col-6">
            <img src="../../../assets/logo.jpeg" class="w-100" alt="">
        </div>
    </div>
    <hr>
    <br><br><br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img src="../../../assets/a.jpeg" class="w-100" alt="">
                </div>
                <div class="col-6" [routerLink]="[ '/Nuevo']">
                    <h3>Carro <i class="fa fa-arrow-right" aria-hidden="true"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img src="../../../assets/b.jpeg" class="w-100" alt="">
                </div>
                <div class="col-6" [routerLink]="[ '/Nuevo']">
                    <h3>Moto <i class="fa fa-arrow-right" aria-hidden="true"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img src="../../../assets/c.jpeg" class="w-100" alt="">
                </div>
                <div class="col-6" [routerLink]="[ '/Consultas2']">
                    <h3>Bicicleta <i class="fa fa-arrow-right" aria-hidden="true"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</button>

</div>