<br><br><br>
<div class="container">
    <h3>Consultas</h3>
    <h5>Elige la consulta para el tipo de mantenimiento de tu vehículo</h5>
    <hr>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-check" aria-hidden="true" style="font-size: 4rem;color: red;"></i>
                </div>
                <div class="col-9">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico']">Fecha cambio de aceite</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-shield" aria-hidden="true" style="font-size: 4rem;color: red;"></i>
                </div>
                <div class="col-9">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico']">Vencimiento del seguro</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-id-card" aria-hidden="true" style="font-size: 4rem;color: red;"></i>
                </div>
                <div class="col-9">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico']">Vencimiento Tecnicomecánica</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-car-alt" aria-hidden="true" style="font-size: 4rem;color: red;"></i>
                </div>
                <div class="col-9">
                    <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="[ '/Historico']">Mantenimiento Vehículo</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</button>
</div>