<br><br><br>
<div class="container">
    <h3>Historico</h3>
    <hr>
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Fecha</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">2018/03/04</td>
                <td>UZU-123</td>
                <td>Mantenimiento</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2021/05/08</td>
                <td>UZU-123</td>
                <td>Tecnicomecánica</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2018/03/04</td>
                <td>UZU-123</td>
                <td>Mantenimiento</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2021/05/08</td>
                <td>UZU-123</td>
                <td>Tecnicomecánica</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2018/03/04</td>
                <td>UZU-123</td>
                <td>Mantenimiento</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2021/05/08</td>
                <td>UZU-123</td>
                <td>Tecnicomecánica</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2018/03/04</td>
                <td>UZU-123</td>
                <td>Mantenimiento</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td scope="row">2021/05/08</td>
                <td>UZU-123</td>
                <td>Tecnicomecánica</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</button>
</div>